@using AdvertizingAgency1.Models
@model ServicesViewModel
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/nyvo.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<h1 align="center">Разработка сайтов ASP.NET MVC, MS SQL.</h1>
<h2 align="center">Рекламное агенство наружной рекламы - мы предоставляем Вам следующие услуги:</h2>

<!-- Nyvo слайдер который отображается на главной -->
<!-- Обёртка, указывающая стиль темы -->
<div class="theme-default" style="padding: 1em; display: none;">
    <!-- Непосредственный код слайдера -->
    <div id="slider">
        @foreach (string i in Model.TypPrice)
        {

            foreach (string z in Model.FileList)
            {
                string[] split = z.Split(new Char[] { '.' });
                if (String.Compare(split[0], i, false) == 0)
                {
                    <a href="@Url.Action("SelectTypeUslug", "Services", new { s = i }, null)"> <img src="@Url.Content("~/content/Slider/")@z" alt="" /></a>
                }

            }
        }
    </div>
</div>

<!-- Запуск слайдера -->
<script type="text/javascript">

    $(window).load(function () {

        $('#slider').nivoSlider().parent().show();
    });

</script>

       
<div class="about" align="justify">
    Наружная реклама - эффективный способ привлечения клиентов, повышения узнаваемости бренда и расширения
    рекламного пространства для вашего бизнеса. Мы производим все виды наружной рекламы для магазинов и офисов:
    вывески, штендеры, щиты, таблички и указатели, стенды, пилоны и прочее под ключ.
    В списке услуг – и полиграфия (широкоформатная печать плакатов, баннеров, брандмауэров).
    Особой популярностью пользуются динамические рекламные конструкции, которые за счет разнообразных режимов
    мигания привлекают гораздо больше внимания, чем объекты без подсветки.
    <h3> Реклама на билдбордах</h3>

    Реклама на билбордах, пожалуй, самый распространенный вид наружной рекламы, охватывающий огромную и разнообразную аудиторию.
    Сегодня размещение рекламы на билбордах — неотъемлимая часть большинства серьезных рекламных кампаний,
    преследующих самые разные цели: такой вид наружной рекламы одинаково уместен как для сезонных акций продвижения продукта
    в супермаркете, так и для повышения лояльности к бренду в целом за счет долговременной аренды рекламного места.
    Размещение на билбордах на “ура” справляется со своей функцией — донести информацию до потребителя, и при этом оно дешевле
    по-сравнению с расположенными рядом перетяжками. Самые популярные билборды в Минске — это щиты размером 3х6 метров
    (рекламная площадь составляет 18 квадратных метров). Как правило, такие щиты двусторонние и имеют внутреннюю или внешнюю
    ночную подсветку.

    <h3>
        Приемущества наружной рекламы рекламы:
    </h3>
    <ul>
        <li>Большой охват территории и аудитории.</li>
        <li>Наружная реклама - эффективный способ донести информацию о продукции своей компании, а также повысить узнаваемость бренда и увеличить количество продаж.</li>
        <li>В отличие от других средств информации наружная реклама на щитах очень заметна благодаря своим размерам, а также тем, что она работает 24 часа в сутки.</li>
        <li>При просмотре, люди не испытывают раздражения, поскольку билборды являются неотъемлемой частью окружающей обстановки.</li>

    </ul>
</div>